{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
content %}
<!-- Aside on the left -->
<aside class="aside">
  <nav class="nav flex-column" style="background-color: #3d3d3d">
    <a class="nav-link" aria-current="page" href="/">
      <i class="fa-solid fa-house"></i> Home Page</a
    >
    <a class="nav-link" aria-current="page" href="gui.html">
      <i class="fa-solid fa-folder-tree"></i> Analysis</a
    >
    <a
      class="nav-link active"
      aria-current="page"
      href="advanced.html"
      style="transform: scale(1.2)"
    >
      <i class="fa-solid fa-flask-vial"></i> Advanced Analysis</a
    >
    <ul class="nav flex-column ms-3">
      <li><a class="nav-link" href="#average_sentiment_by_date">Average Sentiment</a></li>
      <li><a class="nav-link" href="#sentiment_by_count">Sentiment by Count</a></li>
      <li><a class="nav-link" href="#section3">Sub Analysis 3</a></li>
    </ul>
  </nav>
</aside>

<div class="container">
  
  <div class="row mb-4">
    <!-- Average Sentiment by Date -->
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card card-modern bg-light text-dark">
        <div class="card-body">
          <h1 class="card-title">Average Sentiment by Date</h1>
          <div id="average_sentiment_by_date" class="charts-section"></div>
          <p class="card-text m-4"> Because on a specific day, there are numerous articles, and it is impossible to display them all one above the other,
            this graph shows the average sentiment score for each day.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <!-- Sentiment by count -->
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card card-modern bg-light text-dark">
        <div class="card-body">
          <h1 class="card-title">Sentiment by Count</h1>
          <div id="sentiment_by_count" class="charts-section"></div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
