{% extends "base.html" %} {% block title %}Advanced Analysis{% endblock %} {% block
content %}
<!-- Aside on the left -->
<aside class="aside">
  <nav class="nav flex-column" style="background-color: #3d3d3d">
    <a class="nav-link" aria-current="page" href="/">
      <i class="fa-solid fa-house"></i> Home Page</a>
    <a class="nav-link" aria-current="page" href="gui.html">
      <i class="fa-solid fa-folder-tree"></i> Analysis</a>
    <a class="nav-link active" aria-current="page" href="advanced.html" style="transform: scale(1.2)">
      <i class="fa-solid fa-flask-vial"></i> Advanced Analysis</a>
    <ul class="nav flex-column ms-3">
      <li>
        <a class="nav-link" href="#average_sentiment_by_date">Average Sentiment</a>
      </li>
      <li>
        <a class="nav-link" href="#sentiment_by_count">Sentiment by Count</a>
      </li>
      <li>
        <a class="nav-link" href="#most_positive_sentiment">Most Positive Sentiment</a>
      </li>
      <li>
        <a class="nav-link" href="#most_negative_sentiment">Most Negative Sentiment</a>
      </li>
      <li><a class="nav-link" href="#entities_by_type">Entities by Type</a></li>
      <li>
        <a class="nav-link" href="#entities_by_trending">Entities by Trending</a>
      </li>
      <li>
        <a class="nav-link" href="#entities_tag_cloud">Entities Tag Cloud</a>
      </li>
    </ul>
    <a href="{{ url_for('logout') }}" class="btn btn-md btn-dark logout-button"><i class="fa-solid fa-right-from-bracket"></i> Log out</a>
  </nav>
</aside>

<div class="container">
  <div class="row mb-4">
    <!-- Average Sentiment by Date -->
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card card-modern bg-light text-dark">
        <div class="card-body">
          <h1 class="card-title">Average Texts Sentiment by Date</h1>
          <div id="average_sentiment_by_date" class="charts-section"></div>
          <p class="card-text m-4">
            Because on a specific day, there are numerous articles, and it is
            impossible to display them all one above the other, this graph shows
            the average sentiment score for each day.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <!-- Sentiment by count -->
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card card-modern bg-light text-dark">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h1 class="card-title mb-0">Sentiment by Score Count</h1>
            <div class="form-check">
              <label class="form-check-label me-2" for="hideOutliers">Hide Outliers</label>
              <input class="form-check-input" type="checkbox" id="hideOutliers" />
            </div>
          </div>
          <br />
          <div id="sentiment_by_count" class="charts-section"></div>
          <p class="card-text m-4">
            The above hide outliers checkbox is designed to hide the outliers in
            the graph. Outliers are the data points that are far from the rest
            of the data points.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <!-- Most Positive Sentiment  -->
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card card-modern bg-light text-dark">
        <div class="card-body">
          <h1 class="card-title">Most Positive Sentiment for 50 Articles</h1>
          <div id="most_positive_sentiment" class="charts-section"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <!-- Most Negative Sentiment  -->
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card card-modern bg-light text-dark">
        <div class="card-body">
          <h1 class="card-title">Most Negative Sentiment for 50 Articles</h1>
          <div id="most_negative_sentiment" class="charts-section"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <!-- Entities Count by Entity Type  -->
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card card-modern bg-light text-dark">
        <div class="card-body">
          <h1 class="card-title">Entities Count by Entity Type</h1>
          <div id="entities_by_type" class="charts-section"></div>
          <p class="card-text m-4">
            This graph shows the entities per type. By hovering over the pie
            slices, you can see the number of entities per type. And by clicking
            on the checkboxes, you can hide the entities of that type from the
            graph.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <!-- Entities by Trending  -->
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card card-modern bg-light text-dark">
        <div class="card-body">
          <h1 class="card-title">Entities by Trending - Top 10</h1>
          <div id="entities_by_trending" class="charts-section"></div>
          <p class="card-text m-4">
            This graph shows the entities that are trending in the articles. The
            entities are the people, places, and things that are mentioned in
            the articles. Each entity is assigned a score based on how many
            times it is mentioned in the articles, and it has a checkbox to it
            from the graph.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <!-- Entities Tag Cloud  -->
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card card-modern bg-light text-dark">
        <div class="card-body">
          <h1 class="card-title">Entities Tag Cloud - Limited to 200</h1>
          <div id="entities_tag_cloud" class="charts-section"></div>
          <p class="card-text m-4">
            This graph shows the entities that are trending in the articles. The entities are Limited to 200.
            And are shown in a tag cloud format. The biggest entities are the ones that are mentioned the most.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}